services:
  postgres:
    image: postgres:15
    container_name: ramais
    environment:
      POSTGRES_DB: ramaisdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
