<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div th:replace="~{layout/base :: layout(
        ~{::section},
        'Autenticação'
     )}">

    <section class="col-md-4 mx-auto">

        <h2 class="mb-4 text-center">Autenticação</h2>

        <form th:action="@{/login}" method="post">

            <div class="mb-3">
                <label class="form-label">Usuário</label>
                <input type="text"
                       name="username"
                       class="form-control"
                       required>
            </div>

            <div class="mb-3">
                <label class="form-label">Senha</label>
                <input type="password"
                       name="password"
                       class="form-control"
                       required>
            </div>

            <!-- Erro de login -->
            <div th:if="${param.error}" class="alert alert-danger">
                Usuário ou senha inválidos
            </div>

            <!-- Logout ok -->
            <div th:if="${param.logout}" class="alert alert-success">
                Logout realizado com sucesso
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">
                    Entrar
                </button>

                <a th:href="@{/ramais}" class="btn btn-outline-secondary">
                    Voltar
                </a>
            </div>

        </form>

    </section>

</div>

</body>
</html>
