<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:replace="layout/base :: layout(
        ~{::section},
        ${ramal.id == null ? 'Cadastrar Ramal' : 'Editar Ramal'}
     )">

    <section class="col-md-6 mx-auto">

        <h2 class="mb-4"
            th:text="${ramal.id == null ? 'Cadastrar Ramal' : 'Editar Ramal'}">
        </h2>

        <form th:action="@{/ramais/salvar}" th:object="${ramal}" method="post">

            <input type="hidden" th:field="*{id}"/>

            <div class="mb-3">
                <label class="form-label">Ramal</label>
                <input type="number" th:field="*{ramal}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" th:field="*{nome}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Setor</label>
                <input type="text" th:field="*{setor}" class="form-control" required>
            </div>

            <div class="d-flex justify-content-between">
                <a th:href="@{/ramais}" class="btn btn-secondary">
                    Cancelar
                </a>
                <button type="submit" class="btn btn-success">
                    Salvar
                </button>
            </div>

        </form>

    </section>

</div>

</body>
</html>
